.ui-header .ui-title, .ui-footer .ui-title {
	line-height: 3.3em;
	padding: 0;
	color: #fff;
	font-weight: 300 !important;
	text-shadow:none;
	font-size: 1.2em;
}

.ui-header, .ui-footer {
	background: #1565C0 !important;
	border:none !important;
}


ul.side-nav.fixed li a {
    font-size: 1em;
    font-weight: 400;
}

i.small {
	padding-right: 0.5em;
}

ul.side-nav.fixed li a {
  vertical-align: top;
}

.custom-panel-btn{
  border: none!important;
  background: none!important;
  box-shadow: none!important;

  text-shadow: none!important;
  color: #fff!important;
}

.category {display: block;}

.ui-bar, .ui-body {
  padding: 0;
  min-height: 34vh !important;
}

/*
.ui-panel-dismiss{background: #FFF;
opacity: 0.7;left:0em!important;}

*/
.dark-bg-custom{visibility:hidden;}

ul.side-nav li {
  padding: 0.5em 1em 0em 0;
}
ul.side-nav.fixed a {
  display: block;
  padding: 0 1em 0 0.75em;
  color: #444;
}

.ui-panel-wrapper{
	margin-left:3.6em;
}

.ui-panel-closed{
	visibility: visible;
    clip: auto;
    overflow: visible;
}

.ui-panel-page-content-open{
	margin-left: 0px;
}

.ui-panel-animate.ui-panel-page-content-position-left {
  left: 0;
  right: 0;
  -webkit-transform: translate3d(14em,0,0);
  -moz-transform: translate3d(14em,0,0);
  transform: translate3d(14em,0,0);
}

.card-reveal{
	display: block!important;
	left: 0;
}

.card-header{
	border-bottom: 1px solid #ECECEC;
 	background: #F7F7F7;
}

.info-btn{
  font-size: 1.3em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.close-btn{
	font-size: 1.3em;
}

.title-margin{
	margin-right: 1.5em;
	margin-top: 0em;
}

.ui-link{margin-bottom: -1em;}

.ui-panel-wrapper{
  	box-shadow: inset 1px 0 5px rgba(0,0,0,.15);
  	-webkit-box-shadow: inset 1px 0 5px rgba(0,0,0,.15);
  	-moz-box-shadow: inset 1px 0 5px rgba(0,0,0,.15);
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {

  font-weight: 400;
}

.logo{
	text-align: center!important;
	margin-top: 0px!important;
  	margin-bottom: 0px!important;
	border-bottom: none!important;
  	border: none!important;
  	padding: 3em 0em 0.95em 0!important;
}

.custom-panel-btn{
  	padding: 0em !important;
  	font-size: 2em !important;
}


.custom-panel-btn i{
  	color: #fff;
}
  
.favourites{
	overflow: visible;
	text-align: right;
	left: -17em;
	background: none;
	box-shadow: none;
	line-height: 1em;
	font-weight: 400 !important;
	color: #333 !important;
	width: 20em;
}
.favourites:hover{background: none !important;  box-shadow: none;}

.ui-panel-display-reveal {
  -webkit-box-shadow:none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}

.side-nav {
  -webkit-box-shadow:none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}